.covid{
    height: 77vh;
    overflow: auto;
    width: 100%;
    max-width: 800px;
    animation: spin 2s linear;
    padding-top: 15px;
}
@keyframes spin{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}